﻿@model _20210222_EF_AND_CORE_DotNet_Core_5_MVC_Application_Test.Models.SalaryDatum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SalaryDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Emplid" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSsp" class="control-label"></label>
                <input asp-for="TotalSsp" class="form-control" />
                <span asp-validation-for="TotalSsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearTotal" class="control-label"></label>
                <input asp-for="YearTotal" class="form-control" />
                <span asp-validation-for="YearTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenSsp" class="control-label"></label>
                <input asp-for="GenSsp" class="form-control" />
                <span asp-validation-for="GenSsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireSsp" class="control-label"></label>
                <input asp-for="FireSsp" class="form-control" />
                <span asp-validation-for="FireSsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliceSsp" class="control-label"></label>
                <input asp-for="PoliceSsp" class="form-control" />
                <span asp-validation-for="PoliceSsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
