﻿@model IEnumerable<_20210222_EF_AND_CORE_DotNet_Core_5_MVC_Application_Test.Models.SalaryDatum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <!--<a asp-action="Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenSsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FireSsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliceSsp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenSsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FireSsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliceSsp)
            </td>

            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.Emplid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Emplid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Emplid">Delete</a>
            </td>
            -->
        </tr>
}
    </tbody>
</table>
