﻿@model _20210222_EF_AND_CORE_DotNet_Core_5_MVC_Application_Test.Models.InputAndException

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>InputAndException</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarnCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarnCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YrMth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YrMth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Earnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Earnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Emplid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
