﻿@model _20210222_EF_AND_CORE_DotNet_Core_5_MVC_Application_Test.Models.SalaryDatum

@{

    ViewData["Title"] = "Get Salary Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>







<!--
<p>Use this page to detail your site's privacy policy.</p>

<input id="emplid" name="emplid" type="text" value="16279" />
<input id="effectiveDate" name="effectiveDate" type="month" value="2021-02" />





<form method="post">
    <input type="submit" asp-controller="SalaryDatums" asp-action="Test">Submit</input>
    <input type="image" src="" alt="Click Me" asp-controller="SalaryDatums" asp-action="Test" />
</form>

    -->


<h1>Test</h1>

<h4>SalaryDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emplid" class="control-label"></label>
                <input asp-for="Emplid" class="form-control" />
                
                <span asp-validation-for="Emplid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Test" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}